# API Configuration
NEXT_PUBLIC_API_BASE_URL=your_url_here

# ImageKit Configuration
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
NEXT_PUBLIC_IMAGEKIT_AUTH_ENDPOINT=/api/imagekit-auth

# JWT Configuration (for securing API routes)
JWT_SECRET=your_jwt_secret_here